.new-goods {
  display: flex;
  margin-bottom: 35px;
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;

  @media #{$tablet-width} {
    border: none;
    background: url(../img/goods-mob.jpg) no-repeat 0 0;
    padding: 5% 0;
  }

  @media #{$mobile-width} {
    padding: 2% 0;
  }

  &__img-big {
    width: 570px;
    max-height: 570px;
    margin-right: 30px;
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.3);

    @media (max-width: 1024px) {
      width: 360px;
      max-height: 360px;
    }

    @media #{$tablet-width} {
      display: none;
    }
  }
  &__img {
    max-width: 108px;
    align-self: center;
    margin-right: 10px;

    @media #{$mobile-width} {
      max-width: 75px;
    }

    img {
      height: auto;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;

    @media #{$tablet-width} {
      justify-content: center;
    }
  }
  &__item {
    width: 270px;
    background: #fff;
    padding: 10px;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;

    @media #{$mobile-width} {
      width: 45%;
      margin-right: 5px;
      flex-direction: column;
    }
  }
  &__desk {
    max-width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      font-weight: 400;
      margin: 0;
      margin-bottom: 15px;
    }
  }
  &__right {
    width: 570px;
    align-self: center;

    @media #{$tablet-width} {
      width: 100%;
    }
  }
  &__title {
    color: $grey;
    @include font-control(1.9em, 1.4em, 700);
    text-decoration: none;
    margin-bottom: 30px;
    display: block;

    @media #{$tablet-width} {
      color: #fff;
      text-align: center;
    }

    @media #{$mobile-width} {
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    span {
      color: $orange;
      text-decoration: underline;
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      @include font-control(0.8em, 1.4em, 700);
    }
  }
}
